---
import { Icon } from 'astro-icon/components';
import type { FeatureCardItem } from '../../types/homepage.js';
import Card from '../ui/Card.astro';

export interface Props {
  cards: FeatureCardItem[];
  iconSize: number;
}

const { cards, iconSize } = Astro.props;
---

<section class="body-font text-tklab-secondary-600">
  <div class="container mx-auto px-5 pb-24 pt-12">
    <div class="-m-4 flex flex-wrap">
      {
        cards.map((card) => (
          <div class="w-full p-4 lg:w-1/3">
            <Card variant="feature" size="lg" href={card.href}>
              <div class="relative overflow-hidden text-center">
                <div class="text-tklab-primary-600 m-4 mx-auto rounded-full">
                  <Icon name={card.icon} size={iconSize} class="mx-auto" />
                </div>
                <h2 class="title-font text-tklab-secondary-900 text-lg font-medium">
                  {card.title}
                </h2>
                <p class="text-tklab-secondary-600 text-base">
                  {card.description}
                </p>
                <div class="text-tklab-primary-500 hover:text-tklab-primary-600 mx-auto mt-3 transition-colors duration-200">
                  <Icon
                    name="mdi:chevron-down"
                    size={iconSize}
                    class="mx-auto"
                  />
                </div>
              </div>
            </Card>
          </div>
        ))
      }
    </div>
  </div>
</section>
