---
import type { CollectionEntry } from 'astro:content';
import Card from './ui/Card.astro';
import Avatar from './ui/Avatar.astro';

export interface Props {
  author: CollectionEntry<'member'>;
}

const { author } = Astro.props;
---

<Card
  variant="author"
  class="max-w-xs"
  size="lg"
  href={`/member/${author?.slug}/`}
>
  <div class="text-center">
    <Avatar
      src={author.data.cover}
      alt={author.data.coverAlt || author.data.name.main}
      size="md"
      shape="circle"
    />
    <div class="flex flex-col items-center justify-center text-center">
      <h2 class="title-font mt-4 text-lg font-medium text-gray-900">
        {author.data.name.main}
      </h2>
      <div class="mb-4 mt-2 h-1 w-12 rounded bg-indigo-500"></div>
      <p class="text-base">
        {author.data.major}
        <br />
        {author.data.grade}
      </p>
    </div>
  </div>
</Card>
