---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

export interface Props {
  formUrl?: string;
  modalId?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
  formUrl = 'https://forms.gle/vwA58wTFZpv5nXQV8',
  modalId = 'contact_form_modal',
} = Astro.props;
---

<div class="hero h-1/2 bg-indigo-900">
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md py-8">
      <h2 class="mb-3 p-4 text-5xl font-bold text-white">
        {t('contact.title')}
      </h2>
      <p class="mb-5 text-base text-white">
        {t('contact.description')}
      </p>
      <label
        for={modalId}
        class="btn btn-primary text-xl text-primary-content"
      >
        {t('contact.button')}
      </label>
    </div>
  </div>
</div>

<input type="checkbox" id={modalId} class="modal-toggle" />
<div class="modal" role="dialog" aria-modal="true">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{t('contact.modal.title')}</h3>
    <p class="py-4">{t('contact.modal.description')}</p>

    <div class="modal-action">
      <label for={modalId} class="btn btn-ghost">
        {t('contact.modal.stay')}
      </label>
      <a href={formUrl} target="_blank" rel="noopener noreferrer">
        <button class="btn btn-primary">{t('contact.modal.leave')}</button>
      </a>
    </div>
  </div>
  <label class="modal-backdrop" for={modalId}></label>
</div>
