---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Card from './ui/Card.astro';

export interface Props {
  member: CollectionEntry<'member'>;
}

const { member } = Astro.props;
---

<Card variant="member" class="w-80" href={`${member.slug}/`}>
  <figure>
    {
      member.data.cover ? (
        <Image
          src={member.data.cover}
          alt={member.data.coverAlt || member.data.name.main}
          class="h-48 object-contain brightness-90"
        />
      ) : (
        <Icon
          name="mdi:account"
          class="h-48 w-full translate-y-8 text-tklab-secondary-600"
        />
      )
    }
  </figure>
  <div class="card-body">
    <h2 class="card-title flex align-bottom leading-none">
      {member.data.name.main}
    </h2>
    <h3 class="text-gray-80 text-sm font-thin leading-none">
      {member.data.name.sub}
    </h3>
    {member.data.major && (
      <div class="badge badge-outline mt-2">{member.data.major}</div>
    )}
    <div class="badge badge-outline">{member.data.grade}</div>
    {member.data.tag && member.data.tag.length > 0 && (
      <div class="font-mono text-sm">
        {member.data.tag.map((tag: string) => (
          <span class="mr-1">#{tag}</span>
        ))}
      </div>
    )}
  </div>
</Card>
