---
import { getCollection } from 'astro:content';
import ToC from '@components/ToC.astro';
import Layout from '@layouts/Layout.astro';
import MarkdownStyles from '../remark/MarkdownStyles.astro';
import { matchNames } from '../utils/nameNormalizer';

const { data, headings } = Astro.props;
const author_name = data.author_name_main;

import AuthorCard from '@components/AuthorCard.astro';

const author = await getCollection('member')
  .then((authors) =>
    authors.find(
      (author) => author_name && matchNames(author.data.name.main, author_name),
    ),
  )
  .catch(() => undefined);
---

<Layout title={data.title} description={data.lead}>
  <MarkdownStyles />

  <!-- BlogDetail専用のコンテナ設定 -->
  <div class="container mx-auto flex">
    <!-- article start -->
    <div class="mx-auto max-w-2xl space-y-12 px-6 py-16 lg:w-7/12">
      <article class="space-y-6">
        <div class="space-y-3">
          <h1 class="text-4xl font-bold text-tklab-secondary-600 md:text-5xl">
            {data.title}
          </h1>
          <div
            class="flex w-full flex-col items-start justify-between md:flex-row md:items-center dark:text-gray-400"
          >
            <div class="flex items-center md:space-x-1">
              <p class="text-sm">
                <span>{data.date.replace(/-/g, ' / ')}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <p>{data.lead ?? ''}</p>
        </div>

        <div>
          <div class="flex flex-wrap space-x-2">
            {
              data.tag.map((tag: string) => (
                <a
                  rel="noopener noreferrer"
                  href="#"
                  class="btn btn-outline btn-sm rounded-sm px-3 py-1 hover:underline"
                >
                  #{tag}
                </a>
              ))
            }
          </div>
        </div>
        <div
          class="markdown-body prose border-t border-dashed border-neutral py-6"
        >
          <slot />
        </div>
      </article>
    </div>
    <!-- article end -->
    <!-- sidebar start -->
    <div class="hidden w-4/12 space-y-12 py-16 lg:block">
      {author && <AuthorCard author={author} />}
      {
        Object.keys(headings).length === 0 ? (
          ''
        ) : (
          <div class="sticky top-0 p-3">
            <ToC links={headings} />
          </div>
        )
      }
    </div>
  </div>
</Layout>
